<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Card</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.5.1.min.js')}}"></script>
    <!--===============================================================================================-->
</head>
<div class="container-sm cardTag">
    <div class="mb-3">
        <label for="cardTagInput" class="form-label">Card Tag</label>
        <input type="text" class="form-control" id="cardTagInput" placeholder="abcd-en123">
    </div>
</div>
<div class="container addCard">
    <label for="addCardButton" class="">Add Card</label>
    <button id="addCardButton" type="button" class="btn btn-primary" onclick="myFunction()">Add Card</button>
</div>
<div class="mb-3">
    <table id="cardTable" class="table table-hover table-dark table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Tag</th>
                <th scope="col">Quantity</th>
                <th scope="col">Box</th>
                <th scope="col">Rarity</th>
            </tr>
        </thead>
    </table>
</div>


<script>
    function myFunction() {
        var tag = $('#cardTagInput').val();
        $('#cardTagInput').val('');
        $.post("add", { cardTag: tag }, function (data, status) {
            var card = data;
            console.log(card)
            var table = document.getElementById("cardTable");
            var row = table.insertRow(1);
            var idCell = row.insertCell(0);
            var nameCell = row.insertCell(1)
            var tagCell = row.insertCell(2)
            var quantityCell = row.insertCell(3)
            var boxCell = row.insertCell(4)
            var rarityCell = row.insertCell(5)
            idCell.innerHTML = card.id
            nameCell.innerHTML = card.name
            tagCell.innerHTML = card.tag
            quantityCell.innerHTML = card.quantity
            boxCell.innerHTML = card["box name"]
            rarityCell.innerHTML = card.rarity

        });
    }
    $('#cardTagInput').keypress(function (e) {
        if (e.which == 13) {
            jQuery(this).blur();
            jQuery('#addCardButton').focus().click();
            jQuery('#cardTagInput').focus()
        }
    });
</script>